.left-side {
  position: absolute;
  top: 10px;
  left: 10px;
}

.right-side {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container.winter {
  background-color: aliceblue;
}

.container.summer {
  background-color: orange;
}

.winter {
  color: blue;
}

.summer {
  color: red;
}

.container.winter i {
  color: blue;
}

.container.summer i {
  color: red;
}
